---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro'
import Introduction from '../components/introductio.astro'
import Footer from '../components/footer.astro'
import Stack from '../components/stack.astro'
import Queues from '../components/queues.astro'
import SimpleList from '../components/simpleList.astro'
import DoubleList from '../components/doubleList.astro'
import Conclusion from '../components/conclusions.astro'




---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Introduction/>
		<Stack/>
		<Queues/>
		<SimpleList/>
		<DoubleList/>
		<Conclusion/>
		<Footer/>
	</main>
</Layout>

<style>
	main {
		
		
		
		
		color: white;
		font-size: 20px;
		
	}
	
</style>
