<div class=" mt-14 mb-14 flex items-center justify-center  flex-row gap-[5px]" id="conclusions">
    
    <div class="bg-[#4E8AD9] w-[1000px] h-[400px] rounded-2xl flex justify-center items-center p-4 flex-col gap-4 shadow-custom">
        
        <p>
            Conclusiones

        </p>
       
    
        <p>
                Las estructuras de datos como pilas,
                colas y listas enlazadas son herramientas clave para organizar y 
                manejar información de manera eficiente.

    
        </p>
        <p>
               Las pilas operan bajo el principio LIFO, donde el último elemento en entrar es el primero en salir, 
               útil para tareas como deshacer acciones o resolver expresiones.
               Las colas siguen el principio FIFO, donde el primero en entrar es el primero en salir, ideal para gestionar 
               procesos en orden, como colas de impresión o sistemas de espera.
               Las listas simplemente enlazadas permiten agregar y eliminar elementos fácilmente en una sola dirección, mientras 
               que las listas doblemente enlazadas permiten recorrer los elementos en ambas direcciones, ofreciendo mayor flexibilidad.
               Cada una de estas estructuras ofrece ventajas dependiendo del tipo de problema, permitiendo optimizar 
               el uso de recursos y mejorar la eficiencia en el manejo de datos.


        </p>
       
      

    </div>
 

</div>
