<div class=" mt-14 mb-3 flex items-center justify-center  flex-row gap-[5px]" id="DoubleList">
    
    <div class="bg-[#4E8AD9] w-[700px] h-[350px] rounded-2xl flex justify-center items-center p-4 flex-col gap-4 shadow-custom">
        
        <p>Listas Doblemente Enlazadas</p>
        <p>
    
            Una lista doblemente enlazada es similar a una lista simplemente enlazada,
             pero en este caso, cada nodo tiene un puntero no solo al siguiente nodo, sino también 
             al nodo anterior. Esto permite recorrer la lista en ambas direcciones.


        
            
        </p>
        <p>
            Java
     En Java, puedes implementar una lista doblemente enlazada 
     creando una clase Nodo con referencias al nodo siguiente y anterior.


        </p>

    </div>
    <div class="">
        <img src="imgLS2.jpg" class="w-[350px] rounded-2xl shadow-custom" alt="">
    </div>
 

</div>
<div class="flex justify-center items-center items mb-3 ">
    <div class="bg-[#4E8AD9] w-[100px] h-[40px] rounded-2xl flex justify-center items-center shadow-custom">
        <p>Ejemplo</p>
    </div>

    <div class=" gap-4 flex flex-row justify-center ml-9">
      
       <div>
        <img src="ListaSimple2.jpg" class="w-[350px] rounded-2xl shadow-custom" alt="">
      </div>

    </div>

</div>