<div class="flex items-center bg-[#0339A6] h-[70px] mr-2 ml-2 mt-2 rounded-2xl justify-center gap-5 shadow-custom">

    <a href="https://www.geeksforgeeks.org/data-structures/" target="_blank" class="text-sm">Data Structures</a>
    <a href="https://www.freecodecamp.org/news/learn-data-structures-and-algorithms/" target="_blank" class="text-sm">Free code camp</a>
    <a href="https://www.geeksforgeeks.org/the-c-standard-template-library-stl/" target="_blank" class="text-sm">geeksforgeeks</a>
    <a href="https://visualgo.net/en" target="_blank" class="text-sm">visualgo.net</a>
    
    
</div>