<div class=" flex mt-14 mb-14 justify-center flex-row gap-[5px]" id="introduction">
    
      
        <div class="bg-[#4E8AD9] flex justify-center rounded-2xl items-center h-[450px] w-[40%] p-4 flex-col gap-4 shadow-custom">

            <p>ESTRUCTURA DE DATOS</p>
            <p>
                La estructura de datos es la forma en que organizamos y guardamos la información en una computadora. 
                Imagina que tienes una lista de cosas que quieres recordar, como una lista de compras o tus tareas. 
                Las estructuras de datos son como diferentes tipos de listas o maneras de organizar esas cosas para 
                que puedas encontrarlas o hacer algo con ellas más fácilmente.
                Por ejemplo, una *pila* es como una pila de platos, donde solo puedes sacar el plato de arriba, y una 
                *cola* es como una fila en la tienda, donde el primero que llega es el primero en ser atendido. Estas 
                formas ayudan a que las computadoras trabajen mejor y más rápido
            </p>
           
        </div>
        <div class="shadow-custom rounded-2xl">
            <img src="struct.jpg" class="w-[450px] rounded-2xl" alt="">
        </div> 
    
</div>