<div class="mt-14 mb-3 flex items-center justify-center  flex-row gap-[5px]" id="queues">
    
   
    <div class="bg-[#4E8AD9] w-[700px] h-[350px] rounded-2xl flex justify-center items-center p-4 flex-col gap-4 shadow-custom">
        
        <p>Colas</p>
        <p>
    
            Una cola (Queue) sigue el principio FIFO (First In, First Out), 
            lo que significa que el primer elemento en entrar es el primero en
             salir.
        </p>
        <p>
            Java
            En Java, puedes usar la clase Queue de la biblioteca de colecciones y su implementación común LinkedList.
            
        </p>

    </div>
    <div class="">
        <img src="colas.jpg" class="w-[350px] rounded-2xl shadow-custom" alt="">
    </div>

</div>
<div class="flex justify-center items-center items mb-3 ">
    <div class="bg-[#4E8AD9] w-[100px] h-[40px] rounded-2xl flex justify-center items-center shadow-custom">
        <p>Ejemplos</p>
    </div>

    <div class=" gap-4 flex flex-row items-center justify-center ml-9 ">
      <div>
        <img src="cola1.jpg" class="w-[350px] rounded-2xl shadow-custom" alt="">

      </div>
      
       <div>
        <img src="cola2.jpg" class="w-[398px]  rounded-2xl shadow-custom" alt="">
      </div>

    </div>

</div>