<div class=" mt-14 mb-3 flex items-center justify-center  flex-row gap-[5px]" id="stack">
    
    <div class="">
        <img src="pila.jpg " class="w-[350px] rounded-2xl shadow-custom" alt="">
    </div>
    <div class="bg-[#4E8AD9] w-[700px] h-[350px] rounded-2xl flex justify-center items-center p-4 flex-col gap-4 shadow-custom">
        
        <p>Pilas</p>
        <p>
    
            Una pila (Stack) sigue el principio LIFO+
            (Last In, First Out). Esto significa que el último
             elemento que se agrega es el primero en ser retirado.
        
            
        </p>
        <p>
            Java
            En Java, podemos implementar una pila usando la clase Stack de la biblioteca de colecciones.
        </p>

    </div>
 

</div>
<div class="flex justify-center items-center items mb-3 ">
    <div class="bg-[#4E8AD9] w-[100px] h-[40px] rounded-2xl flex justify-center items-center shadow-custom">
        <p>Ejemplos</p>
    </div>

    <div class=" gap-4 flex flex-row justify-center ml-9">
      <div>
        <img src="pila1.jpg" class="w-[350px] rounded-2xl shadow-custom" alt="">

      </div>
       <div>
        <img src="pila2.jpg" class="w-[520px]  rounded-2xl shadow-custom" alt="">
      </div>

    </div>

</div>